pkgbase = python-ovh
	pkgdesc = Lightweight wrapper around OVH's APIs
	pkgver = 1.1.2
	pkgrel = 2
	url = https://github.com/ovh/python-ovh
	arch = any
	license = BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-wheel
	depends = python-requests
	source = python-ovh-1.1.2.tar.gz::https://github.com/ovh/python-ovh/archive/v1.1.2.tar.gz
	sha256sums = b24a47bc37ffb14fee2d9525b4aa0b86eeb2aab24755fd6e74707c4e4d0b807a

pkgname = python-ovh
